/* @tailwind base;

@tailwind components;

@tailwind utilities; */

body{
  background-color: #f2f2f2;
  color: #333;
  font-family: "Numito";
}
nav{
  margin: 0px auto 0px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  left: 100px;
  /* border-bottom: 3px solid rgb(247, 152, 152); */
}
nav a{
  margin-left: 13px;
  margin-right: 20px;
}
nav .logo {
  margin-right: auto;
}






