.title {
  color: #333;
  padding-bottom: 2px;
  text-align: center;
  /* background-color: rgb(176, 211, 242); */
  margin: 0 25px;
  padding: 80px;
  border-radius: 1rem;
}
.title {
  margin-top: -80px;
  justify-content: center;
  text-align: center;
  color: rgb(209, 123, 10);
  margin-bottom: -70px;
}
.imageMain {
  padding: 1px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerChoose {
  padding-left: 30px;
  margin: -10px;
  font-size: 12px;
}
.image {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.main {
  /* background-color:rgb(196, 242, 227); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}
.show-content-item-all {
  background-color: bisque;
}
.imageMain {
  background-color: rgb(249, 247, 245);
  box-shadow: 2px 2px 2px 2px rgb(156, 156, 158);
  height: 275px;
  border-radius: 5px;
}
.PicItem {
  display: block;
  width: 156px;
  padding: 5px 0;
  margin: 20px auto;
  background-color: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}
.MoneyItem {
  color: red;
  padding-left: 5px;
  margin-top: 28px;
}
.TitleItem {
  font-size: 13px;
  margin-top: -12px;
  padding-left: 4px;
}
.contentPrice {
  display: flex;
}
.btn {
  position: relative;
  margin-left: 10px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 0px ; */
  display: flex;
}
.btnPlus {
  margin-left: 20px;
  margin-top: 25px;
  height: 25px;
  color: rgb(6, 6, 6);
  border-radius: 10px;
}
.PNum {
  margin-left: 18px;
  margin-top: 25px;
}
.btnSub {
  margin-left: 10px;
  margin-top: 25px;
  height: 25px;
  color: rgb(6, 6, 6);
  border-radius: 10px;
}
.contentDetailAll {
  display: flex;
}
.contentDetailImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25px;
  top: 25px;
}
.backgroundImage {
  background-color: rgb(250, 245, 245);
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 2px 2px rgb(172, 172, 173);
  border-radius: 7px;
}
.contentDetail {
  padding-left: 24px;
}
.DetailId {
  background-color: rgb(64, 125, 178);
  margin: 10px;
  color: white;
  width: 30px;
  border-radius: 4px;
  text-align: center;
}
.DetailTitle {
  margin: 10px;
  color: rgb(13, 13, 13);
}
.DetailPrice {
  margin: 10px;
  color: red;
}
.DetailCategory {
  margin: 10px;
  color: rgb(47, 0, 255);
}
.DetailDescription {
  margin: 10px;
  color: rgb(20, 20, 20);
}
.h2 {
  text-align: center;
  box-shadow: 3px 3px 3px #8f8e8e;
  border-radius: 5px;
}

.BgCartDetail {
  display: flex;
  margin: 20px;
  padding: 20px;
}
/* .titCartDetail {
  margin: 10px;
  padding-left: 24px;
} */
.ContentCartD {
  /* box-shadow: 2px 2px 2px 2px rgb(156, 156, 158); */
  margin: 10px;
  padding-left: 24px;
}
.mainDetailC {
  box-shadow: 2px 2px 2px 2px rgb(156, 156, 158);
}
.btnCartD {
  display: flex;
  margin: 20px;
  padding: 20px;
}
